<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Raspberry Pi Control Panel</title>
		<link rel="stylesheet" href="/static/styles/main.css">
		<link rel="stylesheet" href="/static/styles/button.css">
		<script src="/static/javascript/raphael.2.1.0.min.js"></script>
	    <script src="/static/javascript/justgage.1.0.1.min.js"></script>

	    <script>
	    	function checkAction(action){
				if (confirm('{{TXT_CONFIRM}} ' + action + '?'))
				{
					return true;
				}
				else
				{
					return false;
				}
	    	}

			window.onload = doLoad;

			function doLoad()
			{
			setTimeout( "refresh()", 100*100 );
			}

			function refresh()
			{
			window.location.reload( false );
			}
	    </script>
	</head>

	<body>
		<div id="container">
				<img id="logo" src="/static/images/raspberry.png">
				<div id="title">Raspberry Pi Control Panel</div>
					<div id="uptime"><b>{{TXT_RUNTIME}}</b>&nbsp;&nbsp;&nbsp;&nbsp;{{uptime_finally}} <span STYLE="font-size: 8px;">(hh:mm)</span></div>
					<div id="tempgauge"></div>
					<script>
						var t = new JustGage({
						    id: "tempgauge",
						    value: {{temperatur}},
						    min: 0,
						    max: 100,
						    title: "{{TXT_TEMPERATURE}},
						    label: "°C"
					    });
					</script>
					<div id="cpugauge"></div>
					<script>
						var u = new JustGage({
							id: "cpugauge",
							value: {{cpuusage_final}},
							min: 0,
							max: 100,
							title: "{{TXT_USAGE}},
							label: "%"
						});
					</script>

					<div id="clockgauge"></div>
					<script>
						var c = new JustGage({
							id: "clockgauge",
							value: {{clock_final}},
							min: 0,
							max: 1500,
							title: "{{TXT_CLOCK}}",
							label: "MHz"
						});
					</script>
				<?php } ?>

				<div id="controls">
					<a class="button_orange" href="shutdown/reboot" onclick="return checkAction('<?php echo TXT_RESTART_1; ?>');">{{TXT_RESTART_2}} ?</a><br/>
					<a class="button_red" href="shutdown/shutdown" onclick="return checkAction('<?php echo TXT_SHUTDOWN_1; ?>');">{{TXT_SHUTDOWN_2}} ?</a>
				</div>
		</div>
	</body>
</html>