<!DOCTYPE html>
    <html>
        <head>
    		<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta http-equiv="refresh" content="50; URL=/">
			<title>Raspberry Pi Control Panel</title>
			<link rel="stylesheet" href="/static/styles/main.css">
		</head>

		<body>
			<div id="container">
			    <img id="logo" src="/static/images/raspberry.png">
			    <div id="title">Raspberry Pi Control Panel</div>
    		    <p class="action">Raspberry Pi is now rebooting...</p>
			    <img id="loader" src="/static/images/reboot.gif">
			</div>
		</body>
	</html>